<h1>Simple Video Downloader</h1>

<p>This app is intended to help members of my church use videos in their bible study presentations without advertisements.</p>
    
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>

<% unless session[:user_id].present? %>
  <%= link_to 'Create an Account', new_user_path %> or <%= link_to 'Login', new_session_path %>
<% end %>
